.avatar
  float right
  width 40%
  border 2px solid #ccc
  border-radius 4px
  background #111
  color #999

  img
    max-width 100%

  dl
    margin 0
    padding 0 1em
    clearfix()
    dt
      width 100%
      font-size 2em
      text-align center
      color #fff
    dd
      float left
      margin 0.25em
      width 40%
